---
import ItemList from "@atoms/ItemList.astro";
import Section from "@atoms/Section.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Award from "@/resume/award/award.model";

interface Props {
	awards?: Award[];
}

const { awards = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);

const mappedAwards = awards.map((a) => ({
	title: a.title,
	date: a.date.getFullYear().toString(),
	organization: a.awarder,
	content: a.summary,
}));
---

{awards.length > 0 && (
	<Section title={t('awards')}>
		<ItemList items={mappedAwards} variant="detailed" />
	</Section>
)}
