---
import ItemList from "@atoms/ItemList.astro";
import Section from "@atoms/Section.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Certificate from "@/resume/certificate/certificate.model";

interface Props {
	certificates?: Certificate[];
}

const { certificates = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);

const mappedCertificates = certificates.map((c) => ({
	title: c.name,
	date: c.date.getFullYear().toString(),
	organization: c.issuer,
	url: c.url,
}));
---

{certificates.length > 0 && (
	<Section title={t('certificates')}>
		<ItemList items={mappedCertificates} variant="detailed" />
	</Section>
)}
