---
import Badge from "@atoms/Badge.astro";
import Section from "@atoms/Section.astro";
import Typography from "@atoms/Typography.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Interest from "@/resume/interest/interest.model";

interface Props {
	interests?: Interest[];
}

const { interests = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);
---

{interests.length > 0 && (
	<Section title={t('interests')}>
		<ul class="flex flex-col gap-3">
			{interests.map((i) => (
				<li>
					<article class="p-2">
						<Typography as="h3" class="font-medium text-gray-900 mb-1">
							{i.name}
						</Typography>
						<div class="flex flex-wrap gap-1">
							{i.keywords?.map((keyword) => (
								<Badge size="sm" class="text-sm">
									{keyword}
								</Badge>
							))}
						</div>
					</article>
				</li>
			))}
		</ul>
	</Section>
)}

