---
import Section from "@atoms/Section.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Interest from "@/resume/interest/interest.model";

interface Props {
	interests?: Interest[];
}

const { interests = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);
---

{interests.length > 0 && (
  <Section title={t('interests')}>
    <ul class="flex flex-col gap-3">
      {interests.map((i) => (
        <li>
          <article>
            <header>
              <h3>{i.name}</h3>
            </header>
            <footer>
              {i.keywords?.map(k => <span class="mr-1.5 text-xs">{k}</span>)}
            </footer>
          </article>
        </li>
      ))}
    </ul>
  </Section>
)}

