---
import ItemList from "@atoms/ItemList.astro";
import Section from "@atoms/Section.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Reference from "@/resume/reference/reference.model";

interface Props {
	references?: Reference[];
}

const { references = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);

const mappedReferences = references.map((r) => ({
	title: r.name,
	content: r.reference,
}));
---

{references.length > 0 && (
	<Section title={t('references')}>
		<ItemList items={mappedReferences} variant="detailed" />
	</Section>
)}


