---
import Section from "@atoms/Section.astro";
import { Icon } from "astro-icon/components";
import { type Lang, useTranslations } from "@/i18n";
import type Skill from "@/resume/skill/skill.model";
import { getSkills } from "@/skill";

// Props interface
interface Props {
	skills?: Skill[];
}

const { skills = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);
const allSkills = await getSkills();
---

{skills.length > 0 && (
  <Section title={t('skills')}>
    <ul class="inline-flex gap-2 flex-wrap">
      {
        skills.map(({ name }) => {
          const found = allSkills.find(skill => skill.name.toLowerCase() === name.toLowerCase())
          return (
            <li class="flex items-center bg-gray-50 border border-gray-200 rounded-md text-gray-700 text-sm font-medium gap-1 px-2.5 py-0.5">
              {found && <Icon name={found?.icon || 'mdi:code-tags'} class="size-4" />}
              <span>{name}</span>
            </li>
          )
        })
      }
    </ul>
  </Section>
)}
