---
import Section from "@atoms/Section.astro";
import { Icon } from "astro-icon/components";
import { type Lang, useTranslations } from "@/i18n";
import type Skill from "@/resume/skill/skill.model";
import { getSkills } from "@/skill";

// Props interface
interface Props {
	skills?: Skill[];
}

const { skills = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);
const allSkills = await getSkills();
---

{skills.length > 0 && (
  <Section title={t('skills')}>
    <ul>
      {
        skills.map(({ name }) => {
          const found = allSkills.find(skill => skill.name.toLowerCase() === name.toLowerCase())
          return (
            <li>
              {found && <Icon name={found?.icon || 'mdi:code-tags'} class="size-4" />}
              <span>{name}</span>
            </li>
          )
        })
      }
    </ul>
  </Section>
)}

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #f7fafc;
    border: 1px solid #e2e8f0;
    border-radius: 6px;
    color: #2d3748;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
