---
import ItemList from "@atoms/ItemList.astro";
import Section from "@atoms/Section.astro";
import { type Lang, useTranslations } from "@/i18n";
import type Volunteer from "@/resume/volunteer/volunteer.model";

interface Props {
	volunteer?: Volunteer[];
}

const { volunteer = [] } = Astro.props as Props;
const currentLocale = Astro.params.lang as Lang;
const t = useTranslations(currentLocale);

const mappedVolunteer = volunteer.map((v) => ({
	title: v.organization,
	content: v.summary,
	url: v.url,
}));
---

{volunteer.length > 0 && (
	<Section title={t('volunteer')}>
		<ItemList items={mappedVolunteer} variant="detailed" />
	</Section>
)}
